{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["react-app", "eslint:recommended"],
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "brace-style": ["error"],
    "no-console": [
      "error",
      {
        "allow": ["log", "error", "info", "warn", "table"]
      }
    ],
    "no-multi-spaces": "error",
    "no-empty": "error",
    "object-curly-spacing": ["error", "always"],
    "padded-blocks": ["error", "never"]
  }
}
